html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    background-color: rgb(30, 30, 30);
    /* overflow: hidden; */
}

body {
    display: flex;
    flex-direction: row;
}

input {
    background-color: rgb(45, 45, 45);
    color: white;
    border: 2px gray solid;
}

button {
    background-color: rgb(45, 45, 45);
    color: white;
    border: 2px gray solid;
}

button:hover {
    background-color: rgb(60, 60, 60);
}

.horizontal-layout {
    display: flex;
    flex-direction: row;
}

.dialog-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.dialog {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    ;
    z-index: 2;
    color: white;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px grey solid;
    width: 400px;
    height: 150px;
}

.dialog input {
    min-height: 30px;
}

.dialog select {
    background-color:  rgb(30, 30, 30);
    color: white;
    border: 1px solid gray;
    min-height: 30px;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
}

.dialog-buttons button {
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
    width: 100px;
    padding: 10px;
    margin-top: 10px;
}

.dialog-buttons button:hover {
    background-color: rgb(60, 60, 60);
}

#menu_bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 50px;
    height: 100vh;
    background-color: rgb(45, 45, 45);
    gap: 10px;
}

.menu_bar_button {
    display: flex;
    padding: 10px;
    height: 48px;
    border: none;
}

.other-buttons {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.main-area {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50px);
    margin-left: 50px;
}

#headline {
    font-size: 50px;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
    border-bottom: 1px gray solid;
}

#search-line {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    border: none;
}

#search-line button {
    min-width: 100px;
    min-height: 25px;
    background-color: rgb(45, 45, 45);
    color: white;
    border: 2px gray solid;
}

#search-line button:hover {
    background-color: rgb(60, 60, 60);
}


#search-line input {
    flex-grow: 1;
}

.list {
    margin: 20px;
    color: white;
    text-wrap: nowrap;
    overflow: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .list-item {
        color: white;
        display: flex;
        flex-direction: row;
        border: 2px gray solid;
        padding: 10px;
        margin: 10px;
    }

    .list-item span {
        margin: 10px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 30%;
        max-width: 30%;
        display: flex;
        align-items: center;
    }

    .list-item div {
        display: flex;
        overflow: hidden;
    }

    .list-item div span {
        color: white;
        border: 1px white solid;
        border-radius: 30px;
        min-width: fit-content;
        max-width: fit-content;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-overflow: initial;
    }

    .list-item span:first-child {
        min-width: 100px;
        max-width: 100px;
    }

    .list-item:hover {
        background-color: rgb(90, 90, 90);
    }

    .list-item.dragging {
        opacity: 0;
    }

    .list-item.dragging :where(.details, i) {
        opacity: 0;
    }
}

.test-page-element {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(60, 60, 60);
    margin: 10px;
    padding: 10px;
}

.test-page-element-header {
    font-weight: bold;
    font-size: large;
}

.edit-header {
    display: flex;
    margin-bottom: 10px;

    .edit-header-text {
        flex-grow: 1;
        font-weight: bold;
        font-size: large;
    }
}

.edit-header button {
    display: flex;
    align-items: center;
    color: white;
    background-color: inherit;
    border: none;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.edit-header button:hover {
    background-color: rgb(90, 90, 90);
}

.comments button {
    width: 200px;
    height: 30px;
    background-color: inherit;
    color: inherit;
    border: none;
    margin-top: 10px;
    align-self: self-end;
}

.comments button:hover {
    background-color: rgb(90, 90, 90);
}

.edit-textarea {
    background-color: rgb(30, 30, 30);
    color: white;
    height: 200px;
    border: none;
    font-size: large;
    resize: none;
}

.tags {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tags-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tags-list span {
    color: white;
    border: 1px white solid;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.tags-list div {
    display: flex;
    gap: 5px;
}

.tags-list div button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(30, 30, 30);
    padding-bottom: 2px;
}

.tags-list div button:hover {
    background-color: rgb(60, 60, 60);
}

.with-text-placeholder+span.text-placeholder {
    display: none;
}

.with-text-placeholder:empty+span.text-placeholder {
    display: flex;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-item {
    display: flex;
    flex-direction: column;
    border: 2px grey solid;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.settings-item-headline {
    font-size: xx-large;
}